html, body {
  margin: 0;
  height: 100%; }

body {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  color: grey; }

.backgroundImage {
  /* The image used */
  background-image: url("../images/aces.jpg");
  /* Add the blur effect */
  filter: blur(6px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%; }

.container {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center; }

a {
  text-decoration: none;
  color: white; }
