
//
// BLACKJACK GAME SCSS FILE
//


$trentsGrey: #DADFEA;
$myMaroon: #800000;
$quicksand: 'Quicksand', sans-serif;


html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 30px;
  font-family: $quicksand;
  color: grey;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.blackjack {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
}

h1 {
  margin: 15px 0;
}

img {
  height: 250px;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 5px 5px 5px 0;
}

#aces {
  height: 500px;
  border-radius: 0;
  margin: 50px 0 0 0;
  box-shadow: none;
}

button {
  font-size: 32px;
  letter-spacing: 2px;
  background-color: $myMaroon;
  color: white;
  padding: 10px 50px;
  outline: none;
  border: none;
  border-radius: 7px;
  box-shadow: 5px 5px 5px grey;
  margin: 0 15px 50px;
}

button:focus {
  box-shadow: none;
}

a {
  text-decoration: none;
  color: white;
}